[type=email] {
	direction: rtl;
}

.wp-block-quote {
    border-left: none;
    padding-left: 50px;
}

.entry-categories.style-1 .category-style {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%, 10% 50%);
}


.rt-section-title .section-link-url i {
	transform: rotate(180deg)!important;
}

@keyframes rt_shake {
  10%, 90% {
    transform: translate3d(0.3px, 0, 0) rotate(180deg);
  }
  
  20%, 80% {
    transform: translate3d(-0.5px, 0, 0) rotate(180deg);
  }

  30%, 50%, 70% {
    transform: translate3d(1px, 0, 0) rotate(180deg);
  }

  40%, 60% {
    transform: translate3d(-1px, 0, 0) rotate(180deg);
  }
}

.rt-swiper-nav-1 .swiper-button-prev i,
.rt-swiper-nav-2 .swiper-button-prev i,
.rt-swiper-nav-3 .swiper-button-prev i,
.rt-swiper-nav-4 .swiper-button-prev i,
.rt-swiper-nav-1 .swiper-button-next i,
.rt-swiper-nav-2 .swiper-button-next i,
.rt-swiper-nav-3 .swiper-button-next i,
.rt-swiper-nav-4 .swiper-button-next i {
	transform: rotate(180deg);
}