:root {
	--primary_color: #f80136;
	--primary_color_rgb: 248,1,54;
    --secondary_color: #fa4904;
    --body_dark_color: #444444;
    --body_light_color: #e6e5e5;
    --title_dark_color: #111111;
    --title_light_color: #ffffff;
    --link_dark_color: #222222;
    --link_light_color: #cccccc;
    --meta_dark_color: #7e7e7e;
    --meta_light_color: #e0e0e0;
    --author_dark_color: #2e2e2e;
    --author_light_color: #cfcfcf;
    --breadcrumb_link_color: #bfbfbf;
    --breadcrumb_link_hover_color: #ffffff;
    --breadcrumb_active_color: #ffffff;
    --breadcrumb_seperator_color: #bfbfbf;
    --accent_light_color: #f8f8f8;
    --accent_dark_color: #3b3b3b;
    --accent2_light_color: #f2f2f2;
    --border_dark_color: #e4e4e4;
    --border_light_color: #3b3b3b;
}
body {
    font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 1.9;
	color: var(--body_dark_color);
	font-weight: 400;
	height: 100%;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: #ffffff;
	overflow-x: hidden;
}
.edit-post-visual-editor {
    font-family: 'Rubik', sans-serif;
}
a {
	color: var(--link_dark_color);
	text-decoration: none;
}
a:hover {
	color: var(--primary_color);
	text-decoration: none;
}
p {
	margin: 0 0 20px 0;
	line-height: 28px;
}
figure {
	margin: 1em 0px;
}
hr,
.elementor hr {
	background-color: #e5e5e5;
}
.editor-styles-wrappe {
  color: #646464;
}
.wp-block.editor-post-title__block, 
.wp-block.editor-block-list__block {
    max-width: 1210px;
}
.block-editor-block-list__layout {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and ( min-width: 1199px ) {
	.wp-block {
		max-width: 1210px;
		width: 100%;
	}
}
@media screen and ( min-width: 768px ) {
	.wp-block {
		max-width: 1210px;
		width: 100%;
	}
}
@media(min-width: 600px) {
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
		margin-left: auto;
		margin-right: auto;
	}
	.block-editor-block-list__layout .block-editor-block-list__block[data-align=full]>.block-editor-block-list__block-edit {
		margin-left: -28px;
		margin-right: -28px;
	}
}
.wp-block[data-align=left]>.wp-block-image {
    margin: 8px 25px 8px 0;
}
.wp-block[data-align=right]>.wp-block-image {
    margin: 8px 0 8px 25px;
}
.wp-block[aria-label="Block: Spacer"] {
	clear: both;
}
.block-editor-block-list__layout .block-editor-default-block-appender>.block-editor-default-block-appender__content, .block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit, .block-editor-block-list__layout>.block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit {
    margin-top: 23px;
    margin-bottom: 23px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}
.block-editor-block-list__layout.is-root-container>.wp-block[data-align=full] {
    margin: 0 auto;
}
.wp-caption,
.wp-block-image figcaption {
	color: #555;
    font-size: 13px;
}
/*********** typography ***********/
h1,
h2,
h3,
h4,
h5,
h6,
.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-post-title__block .editor-post-title__input {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	margin: 0 0 10px 0;
	color: var(--title_dark_color);
}
.editor-styles-wrapper h1,
.wp-block-freeform.block-library-rich-text__tinymce h1,
h1 {
	font-size: 32px;	
	line-height: 1.2;
}
.editor-styles-wrapper h2,
.wp-block-freeform.block-library-rich-text__tinymce h2,
h2{
	font-size: 26px;
	line-height: 1.4;
}
.editor-styles-wrapper h3,
.wp-block-freeform.block-library-rich-text__tinymce h3,
h3{
	font-size: 22px;
	line-height: 1.4;
}
.editor-styles-wrapper h4,
.wp-block-freeform.block-library-rich-text__tinymce h4,
h4 {
	font-size: 20px;
	line-height: 1.5;
}
.editor-styles-wrapper h5,
.wp-block-freeform.block-library-rich-text__tinymce h5,
h5 {
	font-size: 18px;
	line-height: 1.5;
}
.editor-styles-wrapper h6,
.wp-block-freeform.block-library-rich-text__tinymce h6,
h6 {
	font-size: 16px;
	line-height: 1.6;
}
/********** blockquote ***********/
blockquote {
	background-color: #f7f7f7;
	border: none;
	font-style: italic;
	text-align: left;
	padding: 50px;
	margin-bottom: 15px!important;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

blockquote p {
	padding-left: 55px;
	position: relative;
	margin-bottom: 0;
	z-index: 1;
	font-size: 18px;
	font-weight: 600;
}
blockquote p:before {
	position: absolute;
	content: "\f11b";
	font-family: flaticon !important;
	font-size: 38px;
	color: var(--primary_color);
	top: -10px;
	transform: translateX(-55px);
	line-height: 1;
}
blockquote cite {
	display: block;
	font-size: 14px;
	color: #646464;
	font-weight: 500;
	font-style: normal;
	margin-top: 12px;
	padding-left: 50px;
	position: relative;
	letter-spacing: 2px;
	z-index: 1;
}
blockquote cite::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 31px;
	height: 2px;
	background-color: #c1c1c1;
}
blockquote.wp-block-quote cite {
	display: block;
	font-size: 14px;
	color: #646464;
	font-weight: 500;
	font-style: normal;
	margin-top: 12px;
	padding-left: 50px;
	letter-spacing: 2px;
	z-index: 1;
}
blockquote.wp-block-quote[style="text-align:right"] cite:after {
	left: inherit;
	right: 0;
}
blockquote.wp-block-quote[style="text-align:right"] cite {
	padding-right: 34px;
}
.wp-block-quote {
	color: #444444;
}
.wp-block-quote__citation {
	display: block;
    font-size: 14px;
    color: #646464;
    font-weight: 500;
    font-style: normal;
    margin-top: 12px;
	padding-left: 80px;
	letter-spacing: 2px;
	z-index: 1;
}
.wp-block-quote__citation em {
	font-style: normal;
}
.wp-block-quote__citation br {
	display: none;
}
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	padding: 50px 40px 35px 40px;
}
.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-size: 26px;
	line-height: 1.3;
}
.wp-block-quote.is-style-large cite {
	text-align: left;
}
.wp-block-quote[style*="text-align: right"],
.wp-block-quote.has-text-align-right {
	border-left: none;
    border-right: none;
	text-align: right;
	padding: 50px 40px 35px 40px;
}
.wp-block-quote[style*="text-align: right"] .wp-block-quote__citation,
.wp-block-quote.has-text-align-right .wp-block-quote__citation {
	padding-left: 0;
	padding-right: 50px;
}
.wp-block-quote[style*="text-align: right"] .wp-block-quote__citation:after,
.wp-block-quote.has-text-align-right .wp-block-quote__citation:after {
	left: inherit;
	right: 0;
}

/*pullquote*/
.wp-block-pullquote__citation {
	display: block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    margin-top: 12px;
	padding-left: 50px;
	position: relative;
	letter-spacing: 2px;
}
.wp-block-pullquote__citation::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 2px;
    background-color: #c1c1c1;
}
.wp-block-pullquote {
	color: #444444;
	background-color: #f7f7f7;
	border-top: 2px solid;
    border-bottom: 2px solid;
    margin-top: 0;
	margin-bottom: 15px;
    padding: 0;
}
.wp-block-pullquote blockquote p {
	font-size: 22px;
}
.wp-block-pullquote blockquote {
	background-color: transparent;
	margin-bottom: 0!important;
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 420px;
}
.wp-block-pullquote.alignleft p, 
.wp-block-pullquote.alignright p {
    font-size: 22px;
}
:root .has-cyan-bluish-gray-background-color {
    background-color: transparent;
    
}
.wp-block-pullquote.is-style-solid-color {
	border: none;
	margin-bottom: 0;
}
.wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 100%;
	background: #acb9c3;
	padding-top: 35px;
	padding-bottom: 35px;
}

.wp-block-pullquote.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 32px;
}

.wp-block-pullquote:not(.has-medixare-primary-background-color),
.wp-block-pullquote:not(.has-medixare-secondary-background-color),
.wp-block-pullquote:not(.has-medixare-button-dark-gray-background-color),
.wp-block-pullquote:not(.has-medixare-button-light-gray-background-color),
.wp-block-pullquote:not(.has-medixare-button-white-background-color) {
	background-color: #f7f7f7;
}

.wp-block-pullquote.has-medixare-primary-background-color {
	background-color: var(--primary_color);
}
.wp-block-pullquote.has-background.has-medixare-secondary-background-color {
	background-color: var(--secondary_color);
}
.wp-block-pullquote.has-background.has-medixare-button-dark-gray-background-color {
	background-color: #333333;
}
.wp-block-pullquote.has-background.has-medixare-button-light-gray-background-color {
	background-color: #a5a6aa;
}
.wp-block-pullquote.has-background.has-medixare-button-white-background-color {
	background-color: #ffffff;
}

.wp-block-pullquote:not(.has-medixare-button-dark-primary-border-color),
.wp-block-pullquote:not(.has-medixare-button-dark-secondary-border-color),
.wp-block-pullquote:not(.has-medixare-button-dark-gray-border-color),
.wp-block-pullquote:not(.has-medixare-button-light-gray-border-color),
.wp-block-pullquote:not(.has-medixare-button-white-border-color) {
	border-color: var(--primary_color);
}

.wp-block-pullquote.has-border-color.has-medixare-button-primary-border-color {
	border-color: var(--primary_color);
}
.wp-block-pullquote.has-border-color.has-medixare-button-secondary-border-color {
	border-color: var(--secondary_color);
}
.wp-block-pullquote.has-border-color.has-medixare-button-dark-gray-border-color {
	border-color: #333333;
}
.wp-block-pullquote.has-border-color.has-medixare-button-light-gray-border-color {
	border-color: #a5a6aa;
}
.wp-block-pullquote.has-border-color.has-medixare-button-white-border-color {
	border-color: #ffffff;
}


.has-medixare-button-primary-color blockquote p:before {
	color: var(--primary_color);
}
.has-medixare-button-secondary-color blockquote p:before {
	color: var(--secondary_color);
}
.has-medixare-button-dark-gray-color blockquote p:before {
	color: #333333;
}
.has-medixare-button-light-gray-color blockquote p:before {
	color: #a5a6aa;
}
.has-medixare-button-white-color blockquote p:before {
	color: #ffffff;
}

.has-medixare-primary-color .wp-block-pullquote__citation:after {
	background-color: var(--primary_color);
}
.has-medixare-secondary-color .wp-block-pullquote__citation:after {
	background-color: var(--secondary_color);
}
.has-medixare-dark-gray-color .wp-block-pullquote__citation:after {
	background-color: #333333;
}
.has-medixare-light-gray-color .wp-block-pullquote__citation:after {
	background-color: #a5a6aa;
}
.has-medixare-white-color .wp-block-pullquote__citation:after {
	background-color: #ffffff;
}



/*********** pre ***********/
pre {
	overflow: auto;
}
code, kbd, pre, samp, tt, var {
	font-family: Menlo,Consolas,monaco,monospace;
	font-size: 1em;
}
pre {
	background: #fff;
	font-family: Menlo,Consolas,monaco,monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
pre code {
    font-size: 15px;
    color: #5b6674;
    word-break: normal;
    line-height: 30px;
}
mark, ins {
    background: #fff9c0;
    text-decoration: none;
}
kbd {
    color: #5b6674;
    padding: 3px 5px 2px 5px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
}
.wp-block-code {
    font-family: Menlo,Consolas,monaco,monospace;
    font-size: 15px;
    color: #5b6674;
    padding: 30px;
    border: 1px solid #e5e5e5;
    
}
.editor-rich-text__tinymce code,
.block-editor-rich-text__editable code {
	background: transparent;
	color: #f80136;
}
.wp-block-freeform.block-library-rich-text__tinymce pre {
    background: #fff;
	font-family: Menlo,Consolas,monaco,monospace;
	line-height: 1.6;
	color: #646464;
    font-size: 1em;
}
/*********** Table ***********/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
    width: 100%;
}
table th, 
table td {
	padding: 5px;
    border: 1px solid #dedede;
	text-align: center;
}
table a {
	text-decoration: none;
	color: #dd3333;
}
table th .wp-block-table__cell-content, 
table td .wp-block-table__cell-content {
	padding: 0;
}
table td .wp-block-table__cell-content br {
	display: none;
}
.mce-item-table, 
.mce-item-table td, 
.mce-item-table th, 
.mce-item-table caption {
	border: 1px solid #dedede;
}
/************ List style ************/
ul ul, 
ol ul {
	list-style: disc;
}
ul li {
	margin-bottom: 0;
}
.wp-block-latest-posts.is-grid li {
    margin: 0 0 10px 0;
}
.wp-block-categories ul,
ul.wp-block-archives {
    padding-left: 0;
    margin-bottom: 0px;
	margin-top: 0px;
    text-align: left;
    margin-left: 0;
    list-style: none;
}
.wp-block-categories ul ul,
ul.wp-block-archives ul {
	margin-top: 0;
}
.block-library-list .editor-rich-text__tinymce {
	margin-left: 20px;
	padding-left: 20px;
}
.editor-rich-text__tinymce {
	white-space: inherit;
}
.block-library-list ul {
	padding-left: 20px;
}

/************ block separator ************/
.wp-block-separator {
    border: none;
    border-bottom: 2px solid #cccccc;
    margin: 50px 0;
    text-align: left;
    background: transparent;
}
.wp-block-separator.is-style-wide {
	border-bottom: 1px solid #cccccc;
}
.wp-block-separator.is-style-dots {
    border-bottom: none;
    height: auto;
    line-height: 1;
    max-width: none;
    text-align: center;
}
.wp-block-latest-posts {
	margin-bottom: 20px;
    padding-left: 20px;
}
.wp-block-latest-posts.is-grid {
	padding-left: 20px;
}
/*Button*/
a.wp-block-button__link:not([href]):not([tabindex]) {
	color: #ffffff;
}
a.wp-block-button__link:not([href]):not([tabindex]):hover {
	color: #ffffff;
}

.wp-block-button .wp-block-button__link {
	position: relative;
	z-index: 1;
	font-size: 14px;	
	color: var(--title_light_color);	
	font-weight: 500;
	padding: 12px 25px 8px 25px;
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
  	border: 1px solid;
  	border-color: var(--primary_color);
	transition: all 0.4s ease;
}
.wp-block-button.is-style-outline .wp-block-button__link {
	border-radius: 0;
}
.wp-block-button .wp-block-button__link:before {
	border-radius: 45px;
	background-size: 300% 100%;
	background-image: linear-gradient(to right, #ee0979, #ff6a00, #ee0979, #ff6a00);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 100%;
	color: var(--title_light_color);
	transition: all 0.4s ease;
}
.wp-block-button.is-style-outline .wp-block-button__link:before {
	border-radius: 0;
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link:before {
	height: 5px;
}

.wp-block-button .wp-block-button__link:hover:before {
	background-position: 40% 0;
}

.wp-block-button .wp-block-button__link:hover {
	box-shadow: 0px 10px 30px 0 rgb(255 106 0 / 20%);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--title_dark_color);
}

.wp-block-button.is-style-outline .wp-block-button__link:before {
	opacity: 0;
	visibility: hidden;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: #ffffff;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover:before {
	opacity: 1;
	visibility: visible;
}

.wp-block-button .wp-block-button__link.no-border-radius,
.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button.is-style-squared .wp-block-button__link:before {
	border-radius: 0;
}

.wp-block-button .wp-block-button__link.no-border-radius:before {
	border-radius: 0;
}

.wp-block-button .has-medixare-primary-color { color: #f80136;}
.wp-block-button .has-medixare-secondary-color { color: #c7002b;}
.wp-block-button .has-medixare-button-dark-gray-color { color: #333333;}
.wp-block-button .has-medixare-button-light-gray-color { color: #a5a6aa;}
.wp-block-button .has-medixare-button-white-color { color: #ffffff;}
.wp-block-button .has-medixare-primary-background-color { background-color: #f80136;}
.wp-block-button .has-medixare-secondary-background-color { background-color: #c7002b;}
.wp-block-button .has-medixare-button-dark-gray-background-color { background-color: #333333;}
.wp-block-button .has-medixare-button-light-gray-background-color { background-color: #a5a6aa;}
.wp-block-button .has-medixare-button-white-background-color { background-color: #ffffff;}
/*button end*/
.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.block-editor-block-list__layout .block-editor-block-list__block.has-warning .block-editor-block-list__block-edit:after {
    background-color: transparent;
}
.alignleft {
	float: left;
	margin-bottom: 15px;
    margin-right: 30px;
	margin-top: 10px;
}
.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.wp-block-cover .block-editor-block-list__block[data-type="core/paragraph"] p {
    color: #fff;
    font-size: 2em !important;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    padding: 14px;
}
.wp-block-freeform.block-library-rich-text__tinymce code {
    padding: 0px;
    border-radius: 0px;
    color: #f80136;
    background: transparent;
    font-family: Menlo,Consolas,monaco,monospace;
    font-size: 1em;
}
.wp-block-freeform.block-library-rich-text__tinymce a {
	color: var(--link_dark_color);
}
.mce-content-body {
    line-height: inherit;
}
.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: inherit;
}
.block-editor-block-list__block[aria-label="Block: Cover"]> .block-editor-block-list__block-edit [data-block] {
  margin-top: 0;
}
.wp-block-freeform .mceTemp .wp-caption {
	margin: 0 auto 15px;
}
.wp-block-freeform .mceTemp .wp-caption .wp-caption-dd {
	text-align: center;
}
.wp-block-freeform .mceTemp .wp-caption.aligncenter .wp-caption-dd a {
	display: inline-block;
}
.wp-block-freeform.block-library-rich-text__tinymce .alignleft {
	margin-bottom: 15px;
    margin-right: 25px;
	margin-top: 10px;
}
.wp-block-freeform.block-library-rich-text__tinymce .alignright {
	margin-left: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	margin: 40px 0px 40px;
	box-shadow: none;
    border-left: none;
    padding-left: 40px;
}
.wp-block-columns.has-3-columns figure.wp-block-image {
	margin-left: inherit;
	margin-right: inherit;
}
.wp-block-file .wp-block-file__button {
	background: #32373c;
	padding: 10px 20px;
	line-height: 1;
}
.wp-block-file a.wp-block-file__button:active, 
.wp-block-file a.wp-block-file__button:focus, 
.wp-block-file a.wp-block-file__button:hover, 
.wp-block-file a.wp-block-file__button:visited {
	opacity: 0.85;
}
.block-editor-rich-text p.has-large-font-size {
	line-height: 1.2;
}
/*Block cover*/
.wp-block-cover-image .wp-block-cover__inner-container, 
.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 70px);
    z-index: 1;
    color: #fff;
}
.wp-block-cover a, 
.wp-block-cover .wp-block-cover-text a, 
.wp-block-cover .has-text-color a, 
.wp-block-cover .has-text-align-center a {
    color: #ffffff;
}
.has-large-font-size {
	line-height: 1.2;
}
.wp-block-cover strong {
	font-weight: bold;
}
.wp-block-cover__inner-container .wp-block-paragraph a {
	cursor: pointer;
	color: #ffffff;
}
.wp-block-cover a:hover, 
.wp-block-cover .wp-block-cover-text a:hover, 
.wp-block-cover .has-text-color a:hover, 
.wp-block-cover .has-text-align-center a:hover {
	text-decoration: underline;
}
.wp-block-cover {
    margin-top: 0px;
    margin-bottom: 23px;
}
.wp-block-cover-image.alignleft, 
.wp-block-cover-image.alignright, 
.wp-block-cover.alignleft, 
.wp-block-cover.alignright,
[data-align=left]>.wp-block-cover, 
[data-align=right]>.wp-block-cover {
    max-width: 340px;
    width: 100%;
}
.has-medium-font-size {
    font-size: 20px;
}
.wp-block-html .block-editor-plain-text {
    font-family: inherit;
    color: #646464;
    padding: 0;
    border: none;
    max-height: initial;
    font-size: 16px;
}
.wp-block-gallery .blocks-gallery-item {	
	overflow: hidden;
}
.wp-block-gallery.is-cropped {
	margin-bottom: 40px;
}
.wp-block-gallery.alignleft.extraclass {
	margin-right: 40px;
}
.gallery .gallery-item .gallery-icon {
    margin: 5px;
}
.gallery .gallery-item .gallery-caption {
    font-size: 13px;
	line-height: 28px;
	margin: 0;
}
.blocks-gallery-grid.alignleft, 
.blocks-gallery-grid.alignright, 
.wp-block-gallery.alignleft, 
.wp-block-gallery.alignright {
    max-width: 420px;
    width: 100%;
}
p:last-child img.size-full.alignright {
	clear: both;
	padding-top: 10px;
}
.blocks-gallery-item figcaption {
	line-height: 1.4;
}
.block-editor-block-list__block .wp-block-rss {
    padding-left: 20px;
}
/*block widget*/
.wp-block-search .wp-block-search__label {
	font-size: 20px;
	font-weight: 500;
}
.wp-block-search input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    color: #444444;
    font-size: 15px;
    outline: none;
}
.wp-block-search .wp-block-search__button {
	background-color: #f80136;	
	border: none;
	color: #ffffff;
	font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.sidebar-widget-area ul.wp-block-categories li, 
.sidebar-widget-area ul.wp-block-archives li {
    width: 100%;
    float: left;
    background: #ffffff;
    line-height: 1.6;
    text-align: right;
}
.sidebar-widget-area ul.wp-block-categories li a, 
.sidebar-widget-area ul.wp-block-archives li a {
    float: left;
}
.wp-block-categories,
.wp-block-archives {
	margin: 0;
    padding: 0;
    list-style: none;
}
.wp-block-categories li ul, 
.wp-block-archives li ul {
    padding-left: 17px;
    float: left;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 0;
    list-style: none;
}
.wp-block-categories li,
.wp-block-archives li {
	width: 100%;
    float: left;
    background: #ffffff;
    line-height: 1.6;
    text-align: right;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 13px;
    padding: 0 0 13px;
    position: relative;
    transition: all 140ms ease-in-out;
}
.wp-block-categories li:last-child,
.wp-block-archives li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.wp-block-categories li a,
.wp-block-archives li a {
	float: left;
	font-size: 16px;
    font-weight: 400;
    position: relative;
    color: #444444;
    display: inline;
    transition: all 140ms ease-in-out;
}
.wp-block-categories li a:hover,
.wp-block-archives li a:hover {
    color: #f80136;
}
.wp-block-categories .wp-block-categories__dropdown,
.wp-block-categories-dropdown select,
.wp-block-archives-dropdown select {
    border: 1px solid #e5e5e5;    
    margin-bottom: 10px;
    padding: 14px 13px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 12px;
    background-image: url(/wp-content/themes/medixare/assets/img/select-arrow.png) !important;
    background-repeat: no-repeat;
    background-position: 98.5%;
    line-height: 28px;
    font-size: 16px;
}